/*COMPLETATO*/

.PaginaCliente{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    position: relative;
    height: 100%;
    border-radius:  0 0 10px 10px;
}

.contenitoreContainer{
    display:flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    background-color: #ffffff;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: start;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: #00bec8;
    padding: 20px;
}

.containerDati{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    position: relative;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: #00bec8;
    padding: 20px;
}

.AutenticazioneFallita{
    color: blue;
    position: relative;
}

.containerAutenticazioneFallita{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    position: relative;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    .contenitoreContainer{
        width: 80%;
    }

    .AutenticazioneFallita{
        width: 50%;
    }
    
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .contenitoreContainer{
        width: 60%;
    }

    .AutenticazioneFallita{
        
    }
   
}

@media only screen and (min-width: 768px){
    .contenitoreContainer{
        width: 50%;
        height: 428px;
    }
    
    .AutenticazioneFallita{
        
    }
    
}