.containeracc{
    width:60%;
    height:60%;
<<<<<<< HEAD
    left: 20%;
    position : relative;
=======
>>>>>>> 941e87355fda307487e0d26ea72a8ea751ca330b
}
.headcac{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    height: 4rem;
    align-items:center;
}
.propcard{
    width:50%;
    height:70%;
    position:relative;
    left:22%;
}