/*CSS FATTO*/

  .containerNew {
    background: rgba(8, 1, 1, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 60%;
    position: relative;
    height: 100%;
    border: 2px solid white;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .containerNewSelezione{
    background: rgba(8, 1, 1, 0.5);
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 60%;
    position: relative;
    height: 100%;
    left: 20%;
  }

  
  .contentNew{
    background: rgba(8, 1, 1, 0.5);
    width:100%;
  }
  
  .contentNew > p {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  
  .contentNew form{
    display: flex;
    flex-direction: column
  }
  
  .contentNew form label {
    font-size: 14px;
    color: white;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .contentNew form .i{
    padding: 12px 15px;
    margin: 8px 0;
    width: 80%;
    height: 45px;
    margin-left:10%;
    color: white;
    background: rgba(8, 1, 1, 0.856);
    border-bottom: 3px solid white;
  }
  


  .contentNew form .i:focus{
    box-shadow:none;
  }

  .contentNew form .iTA{
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 80%;
    height: 150px;
    margin-left:10%;
  }

  .contentNew form .iTA:focus{
    box-shadow:none;
  }

  .containerNew form select{
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 80%;
    height: 45px;
    margin-left:10%;
  }

  .containerNew form select:focus{
    box-shadow:none;
    background-color: #eee;
  }
  
  .bottoniScelta{
    background-color: black;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
  }

  .bottoniScelta1{
    border-radius: 2px;
    background-color: black;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    left: 9.9%;
    width: 80%;
    position: relative;
  }

  .bottoniScelta:hover{
    text-decoration: none;
    color:white;
  }


  
  .contentNew form label span{
    font-weight: normal;
    color: #999999;
    font-size: 12px;
  }

  .containerNew form .inputImg{
    width: 40%;
    border: none;
    padding: 12px 15px;
    margin: 8px 4px;
    height: 45px;
    background-color: #eee;
    font-size:10px;
  }

  h2{
    color: white;
  }

  .containerNewSelezione .bottoniScelta{
    width: 80%;
    border-radius: 0;
    margin-bottom: 10px;
  }

  .containerNew form .bottoniScelta{
    width: 80%;
    border-radius: 0;
    margin-bottom: 10px;
  }

  .head-update{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    height:4rem;
    align-items:center;
    margin-left:10px;
  }

  @media only screen and (max-width: 600px) {
    .containerNew {
      width: 100%;
      height: 100%;
    }

    .containerNewSelezione{
      width: 50%;
      height: 100%;
    }
  }

  @media only screen and (min-width: 600px) and (max-width: 768px) {
    .containerNew {
      width: 70%;
      height: 100%;
      left: 15%;
    }

    .containerNewSelezione{
      width: 50%;
      height: 100%;
    }
  }

  @media only screen and (min-width: 768px){
    .containerNew {
      width: 50%;
      height: 100%;
      left: 25%;
    }

    .containerNewSelezione{
      width: 50%;
      height: 100%;
      margin-top: 15%;
      margin-bottom: 15%;
      left: 25%;
      position: relative;
    }
  }
