.paginaDettagli{
    width: 100%;
    justify-content: center;
}

.containerDettagli{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 60%;
    position: relative;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    left: 20%;
    border-radius:  0 0 10px 10px;
    padding: 20px;
}

.divDettagli{
    border-bottom-width: 1px;
    border-bottom-color: gray;
    border-bottom-style: solid;
    width: 100%;
    position: relative;
    
}

.containerDettagli iframe{
    width: 100%;
}

.Mappa{
    width: 100%;
}

.containerDettagli h2{
    color: #00bec8;
}