.casaVacanza{
    margin: 25px 50px 25px 50px;
    border: 2px solid white;
    background: rgba(8, 1, 1, 0.7);
    box-shadow: rgba(0, 0, 0, 0.918) 0px 16px 26px;
    color: white;
    text-transform: uppercase;
}

.vai{
    text-decoration: none;
    color: white;
}

.vai:hover{
    color: white;
    cursor: pointer;
}

.bottoneLink{
    width: 100%;
    background-color: black;
    top: 100%;
}

.casaVacanza img{
    width:100%;
    border-bottom: 2px solid white;
}

@media only screen and (max-width: 600px) {

    .casaVacanza{
        width: 70%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {

    .casaVacanza{
        width: 70%;
    }

}

@media only screen and (min-width: 768px){

    .casaVacanza{
        width: 25%;
    }

}

