*, *::before, *::after { box-sizing: border-box; }

.product-search {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 5px;
  margin: 0 auto;
}

.search-element {
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(10,10,10,.1);
  padding: 1em;
}

.search-element-ospiti{
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.search-label {
  margin: 0;
}

.search-input {
  border: none;
  appearance: none;
  outline: none;
  font-size: 1.2em;
  line-height: 1.2em;
  margin-top: 5px;
  box-shadow: 0px 2px 0px 0px #00bec8;
  padding: 11px 11px 3px;
}

.search-input-ospiti{
  border: none;
  appearance: none;
  outline: none;
  font-size: 1.2em;
  line-height: 1.2em;
  margin-top: 5px;
  box-shadow: 0px 2px 0px 0px #00bec8;
  padding: 11px 11px 3px;
  cursor: pointer;
}

.search-button {
  text-align: center;
  border: 0;
  color: white;
  background-color: #00bec8;
  height: 25px;
  width: 100%;
}

.search-button:hover {
  text-decoration: none;
  background-color: #01e1ec;
}

@media only screen and (max-width: 600px) {

  .product-search {
    display: flex;
    flex-direction: column;
  }

  .search-element {
    width: 100%;
  }

}

@media only screen and (min-width: 600px) and (max-width: 768px) {

  .search-element {
   width: 25%;
  }

  .search-element-ospiti{
    width: 10%;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1280px) {


  .search-element {
    width: 25%;
  }

  .search-element-ospiti{
    width: 10%;
  }

}

@media only screen and (min-width: 1280px){

  .search-element {
    width: 25%;
  }

  .search-element-ospiti{
    width: 5%;
  }

}

