.ContainerRicerca{
    width: 100%;
    position: relative;
    justify-content: center;
}

.BarraRicerca {
    width: 60%;
    position: relative;
}

.BarraRicerca button{
    border-radius: 0 20px 20px 0;
    border: 1px solid #00bec8;
    background-color: #00bec8;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    height: 45px;
    margin-top: 32px;
    width: 80px;
}

.BarraRicerca input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    width: 100%;
    height: 45px;
    
}

.BarraRicerca select {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    width: 100%;
    height: 100%;
    
}

.BarraRicerca select:focus {
    box-shadow:none;
    background-color: #eee;
}

.BarraRicerca input:focus {
    box-shadow:none;
    background-color: #eee;
}

.containerBarra{
    width: 100%;
}

.contenitoreDate{
    width: 100%;
}
