.Autenticazione {
    font-family: sans-serif;
    text-align: center;
  }
  
  @import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
  
  
  .Autenticazione h1 {
    font-weight: bold;
    margin: 0;
  }
  
  .Autenticazione h2 {
    text-align: center;
  }
  
  .Autenticazione p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
  }
  
  
  .Autenticazione a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
  }
  
  .Autenticazione button {
    border-radius: 20px;
    border: 1px solid #00bec8;
    background-color: #00bec8;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
  }
  
  .Autenticazione button:active {
    transform: scale(0.95);
  }
  
  .Autenticazione button:focus {
    outline: none;
  }
  
  .Autenticazione button.ghost {
    background-color: transparent;
    border-color: #ffffff;
  }
  
  .Autenticazione form {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
  }
  
  .Autenticazione input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
  }
  
  .containerAutenticazione {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 950px;
    max-width: 100%;
    min-height: 550px;
    left: 25%;
    margin-bottom: 90px;
    margin-top: 90px;
  }
  
  .form-containerAutenticazione {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
  }
  
  .sign-in-containerAutenticazione {
    left: 0;
    width: 50%;
    z-index: 2;
  }
  
  .containerAutenticazione.right-panel-active .sign-in-containerAutenticazione {
    transform: translateX(100%);
  }
  
  .sign-up-containerAutenticazione {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
  }
  
  .containerAutenticazione.right-panel-active .sign-up-containerAutenticazione {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
  }
  
  @keyframes show {
    0%,
    49.99% {
      opacity: 0;
      z-index: 1;
    }
  
    50%,
    100% {
      opacity: 1;
      z-index: 5;
    }
  }
  
  .overlay-containerAutenticazione {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
  }
  
  .containerAutenticazione.right-panel-active .overlay-containerAutenticazione {
    transform: translateX(-100%);
  }
  
  .overlay {
    background: #00bec8;
    background: -webkit-linear-gradient(to right, #008cc8, #00bec8);
    background: linear-gradient(to right, #008cc8, #00bec8);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #ffffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }
  
  .containerAutenticazione.right-panel-active .overlay {
    transform: translateX(50%);
  }
  
  .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }
  
  .overlay-left {
    transform: translateX(-20%);
  }
  
  .containerAutenticazione.right-panel-active .overlay-left {
    transform: translateX(0);
  }
  
  .overlay-right {
    right: 0;
    transform: translateX(0);
  }
  
  .containerAutenticazione.right-panel-active .overlay-right {
    transform: translateX(20%);
  }
  
  @media only screen and (min-width: 601px) and (max-width: 768px){
    /* Tablet: */
    .Autenticazione {
      position: relative;
      font-family: sans-serif;
      text-align: center;
      right: 25%;
    }
  }

  @media only screen and (max-width: 600px){
    /*Smartphone*/

    .containerAutenticazione {
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      position: relative;
      overflow: hidden;
      width: 70%;
      min-height: 650px;
    }

    .Autenticazione {
      position: relative;
      font-family: sans-serif;
      text-align: center;
      right: 10%;
    }

  }

  @media only screen and (min-width: 1200px){
      
    .Autenticazione {
      position: relative;
      font-family: sans-serif;
      text-align: center;
      right: 10%;
    }
  }

  