.testa_accordo{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    justify-content: space-around;
}

.containerAccettazione{
    display:flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    position: relative;
    height: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    color: #00bec8;
}


.accettazione{
    width:100%;
    background: #fff;
    border-radius:  0 0 10px 10px;
    height: 100%;
}

.tabella{
    width: 100%;
}

.listaAccettazioni{
    display:flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    position: relative;
    height: 100%;
    margin-top:100px;
    margin-bottom: 30px;
    border-radius:  0 0 10px 10px;
    color: #00bec8;
}
.diocanis{
   
}
.tabb{
    width:100%
}