.carte_prop{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

.prop {
display: flex;
justify-content: center;
}


.LinK:hover{
color:  #008cc8;
text-decoration: none;
}

@media only screen and (max-width: 600px) {
.prop {
  height: 100%;
  width: 100%;
}

.imageProp{
  width: 30%;
  height: 30%;
  left:35%;
  position: relative;
}

.LinK {
  height: 100%;
  width: 100%;
  height: 250px;
  margin: 5px;
}
}

@media only screen and (min-width: 600px) and (max-width: 768px) {

.prop {
  height: 100%;
  width: 100%;
}

.imageProp{
  width: 30%;
  height: 30%;
  left:35%;
  position: relative;
}

.LinK {
  height: 100%;
  width: 100%;
  height: 250px;
  margin: 5px;
}

}

@media only screen and (min-width: 768px){

.prop {
  height: 250px;
  width: 450px;
  margin: 5px;
}

.imageProp{
  width: 60px;
  height: 60px;
  left:43%;
  position: relative;
}

.LinK {
  height: 250px;
  width: 450px;
  margin: 5px;
}

}



