


.paginaEarning{
    display: flex;
    flex-direction: row;
}
/* PARTE SINISTRA DELLA PAGINA */
.containerSx {
    display:flex;
    flex-direction: column;
}
.containerAccordion {
    width: 80%;
}


/*Parte destra della pagina */
.containerDx{
    display: flex;
    flex-direction: column;
}
.propStruct {
    width: 300px;
    height:400px;
    border: 2px solid black;
}
.cardEarning{
    height: 100px;
    width: 50%;
}



/*.containerEarning {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}*/ 