.prop {
    height: 250px;
    width: 400px;
    margin: 20px;
    justify-content: center;
  }
  .prop .image{
    width: 60px;
    height: 60px;
    margin-left: 170px;
    margin-bottom: 20px;
    color: #00bec8;
  }
  .carte_prop{
      display:flex;
      justify-content: center;
      flex-wrap: wrap;
  }



  .LinK {
    color: #00bec8;
  }
  
  .LinK:hover{
    color: #422aad;
    text-decoration: none;
  }

