.propScelta {
    height: 250px;
    width: 300px;
    margin-top: 140px;
    margin-bottom: 140px;
    position: relative;
  }
  .prop .image{
    width: 60px;
    height: 60px;
    margin-left: 120px;
    margin-top: 20px;
    color: #008cc8;
  }
  .carte_prop{
    display:flex;
    justify-content: space-around;
  }

  .LinK {
    color: #008cc8;
  }
  
  .LinK:hover{
    color: #025e85;
    text-decoration: none;
  }

