/*CSS COMPLETATO*/

.paginaEarning{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: start;
    position: relative;
    border-radius:  0 0 10px 10px;
}

.h2Earning{
    color: blue;
}
/* PARTE SINISTRA DELLA PAGINA */
.containerSx {
    width: 100%;
    height: 100%;
}
.containerAccordion {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: #ffffff;
    width: 60%;
    position: relative;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: #00bec8;
    padding: 20px;
}


.propStruct {
    width: 40%;
    height:100%;
    position: relative;
    display: flex;
    margin: 10px;
}
.cartaEarning{
    height: 100%;
    width: 100%;
}

.earningResult{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: #ffffff;
    width: 100%;
    position: relative;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: #00bec8;
    padding: 20px;
}

@media only screen and (max-width: 600px) {

    .paginaEarning{
        width: 70%;
        height: 100%;
        left: 15%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {

    .paginaEarning{
        width: 70%;
        height: 100%;
        left: 15%;
    }
}

@media only screen and (min-width: 768px){

    .paginaEarning{
        width: 40%;
        height: 100%;
        left:30%;
    }
    
}


.earning_head{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:4rem;
}
