/*CSS FATTO*/







/*.cont_acc_ch{
    position:relative;
    width:80%;
    left:10%;
}

.contenitore {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius:  0 0 10px 10px;
}

.contentNewCheck{
    width:100%;
    background: #fff;
    border-radius:  0 0 10px 10px;
    box-shadow: 1px 1px 20px 3px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius:  0 0 10px 10px;
}

.contenitore input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    height: 45px;
}

.contenitore select {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    height: 45px;
}

.contenitore button {
    border-radius:  0 0 10px 10px;
    border: 1px solid #00bec8;
    background-color: #00bec8;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100%;
    cursor: pointer;
}

.contenitore h2 {
    color: #00bec8;
}

.contenitore label {
    color: #00bec8;
}*/


@media only screen and (max-width: 600px) {

    .contenitore {
        width: 100%;
        height: 100%;
    }

}

@media only screen and (min-width: 600px) and (max-width: 768px) {

    .contenitore {
        width: 70%;
        height: 100%;
        left:15%;
    }

}

@media only screen and (min-width: 768px){

    .contenitore {
        width: 50%;
        height: 100%;
        left: 25%;
    }

}