.return{
    color: black;
}

.contieneContenitore{
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-room-info{
    text-align: left;
}

.room-extras{
    text-align: right;
}

.check{
    display: flex;
    flex-direction: column;
}


.contenitoreRiepilogo{
    background: white;
    color: black;
}

.bottonePrenota{
    background-color: black;
    border: none;
    color: white;
}


@media only screen and (max-width: 599px) {

    .single-room-images{
        width: 100%;
    }
    
    .riepilogoImg{
        width: 15%;
    }
    
    .contenitoreRiepilogo{
        width: 100%;
    }
   

    .bottonePrenota{
        width: 100%;
        height: 70px;
    }

}

@media only screen and (min-width: 600px) {

    .single-room-images{
        width: 100%;
    }
    
    .riepilogoImg{
        width: 20%;
        margin: 10px;
    }
    
    .contenitoreRiepilogo{
        width: 100%;
        position: relative;
    }
    


    .bottonePrenota{
        width: 100%;
        height: 70px;
    }


}

@media only screen and (min-width: 768px) {

    .single-room-images{
        width: 100%;
    }
    
    .riepilogoImg{
        width: 15%;
        margin: 10px;
    }
    
    
    .contenitoreRiepilogo{
        width: 70%;
        position: relative;
    }
    
    
    .bottonePrenota{
        width: 100%;
        height: 70px;
    }


    .formPerPrenotare{
        width: 100%;
    }



    .sistemaPagina{
        display: flex;
        justify-content: space-between;
    }

}
