.return{
    color: black;
}

.single-room-info{
    text-align: left;
}

.room-extras{
    text-align: right;
}

.check{
    display: flex;
    flex-direction: column;
}

.formPerPrenotare{
    display: flex;
    flex-direction: row;
}


@media only screen and (max-width: 599px) {

    .single-room-images{
        width: 100%;
    }
    
    .riepilogoImg{
        width: 15%;
        border-radius: 10px;
        margin: 10px;
    }
    
    .contenitoreRiepilogo{
        width: 100%;
    }
    
    .contenitorePrenota{
        position: relative;
    }

    .bottonePrenota{
        background-color: #33333321;
        border: none;
        color: black;
        width: 100%;
        height: 70px;
    }

}

@media only screen and (min-width: 600px) {

    .single-room-images{
        width: 100%;
    }
    
    .riepilogoImg{
        width: 15%;
        border-radius: 10px;
        margin: 10px;
    }
    
    .contenitoreRiepilogo{
        width: 70%;
        position: relative;
        left: 15%;
    }
    
    .contenitorePrenota{
        position: relative;
        left: 40%;
        bottom: 125px;
    }

    .bottonePrenota{
        background-color: #33333321;
        border: none;
        color: black;
        width: 100%;
        height: 70px;
    }


}

@media only screen and (min-width: 768px) {

    .single-room-images{
        width: 100%;
    }
    
    .riepilogoImg{
        width: 15%;
        border-radius: 10px;
        margin: 10px;
    }
    
    
    .contenitoreRiepilogo{
        width: 70%;
        position: relative;
        left: 15%;
    }
    
    
    .bottonePrenota{
        background-color: #33333321;
        border: none;
        color: black;
        width: 100%;
        height: 70px;
    }
    
    .contenitorePrenota{
        width: 100%;
    }

    .formPerPrenotare{
        width: 100%;
    }

    .check{
        margin-left: 15%;
        margin-right: 15%;
    }

    .sistemaPagina{
        display: flex;
        justify-content: space-between;
    }

}
